@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
<li class="nav-item nav-item-space">
    <spar class="navbar-brand">@UserManager.GetUserName(User)</spar>
</li>
<li class="nav-item">
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home",  new { area = "" })">
        <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
    </form>
</li>