<li>
    <a class="text-dark" asp-area="" asp-controller="Role" asp-action="Index">Настройка ролей пользователей</a>
</li>
<li>
    <a class="text-dark" asp-area="" asp-controller="Admin" asp-action="UserStatistics" asp-route-modeId="10">Данные пользователей</a>
</li>
<li>
    <a class="text-dark" asp-area="" asp-controller="Admin" asp-action="Statistics">Статистика системы отеля</a>
</li>
<li>
    <a class="text-dark" asp-area="" asp-controller="Admin" asp-action="Refresh">Обновить статус номеров на сегоднешний день</a>
</li>
